/* Resources.css */

.resources {
  padding: 20px;
  text-align: center;
  background-color: rgb(300, 300, 300);
  color: #333;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.center-text {
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}

.tools-container {
  display: flex;
  flex-direction: column; /* Change the direction to stack tools vertically */
  align-items: center;
  margin: 20px 0;
}

.tool {
  width: 80%; /* Take up the full width of the container */
  height: 200px;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left; /* Adjust the text alignment to the left */
  display: flex; /* Make the tool a flex container */
  align-items: center; /* Align tool content vertically in the center */
}

.tool:hover{
  cursor: pointer;
  background-color: #c9cdff;
}

.tool-text {
  flex: 1; /* Allow text to grow and take up remaining space */
  font-size: 16px;
  margin-bottom: 10px;
  margin: 20px;
}

.tool-image {
  /* Style for the tool image (you can customize as needed) */
  flex: 1; /* Allow image to grow and take up remaining space */
  text-align: center; /* Center the image */
}

.articles-container {
  /* Add styling for the technical articles container */
  /* You can use a similar approach as the tools-container */
}

.resources-content{
  align-items: center;
  justify-content: center;
  width: 70%;
}

/* Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: 20px auto;
  background-color: #fff;
}

/* Style for table headings (th) */
th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

/* Style for table rows (alternating background colors) */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for table cells (td) */
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* Hover effect on table rows */
tr:hover {
  background-color: #ddd;
}

.pdf-img {
  width: 10%;
}

