.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150vh;
  justify-content: space-between; /* Add this line */
  background-color: rgb(249, 249, 249);
}

.page {
  width: 80%;
  /* margin-top: 100px; */
  flex-grow: 1; /* Add this line */
  /* background-color: rgb(204, 204, 204); */
  background-color: rgb(249, 249, 249);
  width: 100%;
}


